
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');



html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100%;
    background-color: wheat;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    font-family: 'Amatic SC', cursive;

  }

  p {
      text-align: center;
      color: black;
      font-size: 20px;
      color: rgb(0, 55, 255);
      font-family: 'Amatic SC', cursive;

  }
  
  
  
  